main {
  background-color: rgb(255, 240, 223);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 75%;
}

.btn-color {
  background-color: #127045;
  color: #fff;
}

.btn-color:hover {
  background-color: #127045;
  color: #fff;
}

a {
  color: #127045;
}

a:hover {
  color: #1a9c62;
}

.school-logo {
  max-width: 75px;
}

header  {
  min-height: 85vh;
}

table{
  border-radius: 10px;
}